@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.menu-catalog__link[data-parent-submenu]::before, .phones-header__phone::before, .body-header__logo, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-bottom:before, .menu-catalog__link[data-parent-submenu]:before {
  content: "\e90e";
}

._icon-cart:before {
  content: "\e90f";
}

._icon-compare:before {
  content: "\e910";
}

._icon-favorite:before {
  content: "\e911";
}

._icon-footer-clock:before {
  content: "\e912";
}

._icon-footer-email:before {
  content: "\e913";
}

._icon-footer-location:before {
  content: "\e914";
}

._icon-footer-phone:before, .phones-header__phone:before {
  content: "\e915";
}

._icon-location:before {
  content: "\e916";
}

._icon-logo:before, .body-header__logo:before {
  content: "\e917";
}

._icon-rub:before {
  content: "\e918";
}

._icon-search:before {
  content: "\e919";
}

._icon-select-arrow:before {
  content: "\e91a";
}

._icon-spoller-arrow:before {
  content: "\e91b";
}

._icon-user:before {
  content: "\e91c";
}

._icon-back:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 99.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  padding: 0.5rem 3.25rem;
  line-height: 1.6;
  background: #E8AA31;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;
  transition: box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0px 4px 30px rgba(232, 170, 49, 0.73);
  }
}
@media (max-width: 29.99875em) {
  .button {
    width: 100%;
  }
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__top {
  background-color: #141414;
  color: #fff;
}
.header__body {
  background-color: #ECF1F2;
}
.header__catalog {
  background-color: #141414;
  color: #fff;
}

.top-header {
  padding: 0.625rem 0;
}
.top-header__container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  min-height: 3.125rem;
}
@media (max-width: 61.99875em) {
  .top-header__container {
    gap: 2.1875rem;
    padding: 0 1.0625rem 0 1.625rem;
  }
}
.top-header__menu {
  flex: 1 1 auto;
}
.top-header__user {
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222;
  gap: 0.8333333333em;
}
.top-header__user::before {
  font-size: 1.75rem;
}
.top-header__user span {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .top-header__user:hover span {
    color: #E8AA31;
  }
}
@media (max-width: 61.99875em) {
  .top-header__user span {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .menu-top-header {
    display: none;
  }
}
.menu-top-header__list {
  display: flex;
  row-gap: 0.3125rem;
}
@supports (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) {
  .menu-top-header__list {
    column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
  }
}
@supports not (column-gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) {
  .menu-top-header__list {
    column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
  }
}
@media (max-width: 61.99875em) {
  .menu-top-header__list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
@media (min-width: 61.99875em) {
  .menu-top-header__item_catalog {
    display: none;
  }
}
.menu-top-header__link {
  font-size: 1rem;
  line-height: 1.25;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-top-header__link:hover {
    color: #E8AA31;
  }
}
.menu-top-header__link_catalog {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.menu-top-header__link_catalog::before {
  transform: rotate(-90deg);
  font-size: 0.5rem;
  flex: 0 0 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .menu-top-header__link {
    font-size: 1.125rem;
  }
}

@media (max-width: 61.99875em) {
  .menu-burger {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
  }
}
@media (max-width: 61.99875em) {
  .menu-burger__body {
    position: fixed;
    width: 287px;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    border-left: 1px solid #E8ECED;
    background-color: #141414;
    padding: 5rem 0.9375rem 3.125rem;
    z-index: 4;
    transition: all 0.3s ease 0s;
  }
  .menu-burger__body::before {
    content: "";
    position: fixed;
    width: 286px;
    height: 4.375rem;
    top: 0;
    right: -100%;
    background-color: #141414;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
  .menu-open .menu-burger__body {
    right: 0;
  }
  .menu-open .menu-burger__body::before {
    right: 0;
  }
}

.body-header {
  padding: 0.625rem 0;
}
@media (max-width: 47.99875em) {
  .body-header {
    padding: 0;
  }
}
.body-header__container {
  display: flex;
  align-items: center;
  min-height: 4.375rem;
}
@media (max-width: 61.99875em) {
  .body-header__container {
    padding: 0 1.0625rem 0 1.625rem;
  }
}
@media (max-width: 29.99875em) {
  .body-header__container {
    padding: 0 1.0625rem 0 2rem;
  }
}
.body-header__logo {
  font-size: 2.625rem;
  color: #1F1C21;
}
.body-header__search {
  flex: 1 1 auto;
}
@media (min-width: 29.99875em) {
  @supports (padding-left: clamp( 1.25rem , -53.6363636364rem  +  62.7272727273vw , 9.875rem )) {
    .body-header__search {
      padding-left: clamp( 1.25rem , -53.6363636364rem  +  62.7272727273vw , 9.875rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , -53.6363636364rem  +  62.7272727273vw , 9.875rem )) {
    .body-header__search {
      padding-left: calc(1.25rem + 8.625 * (100vw - 87.5rem) / 13.75);
    }
  }
}
@media (min-width: 61.99875em) {
  .body-header__search {
    padding-right: 1.25rem;
  }
}
.search-header {
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
@media (min-width: 61.99875em) {
  .search-header {
    max-width: 23.5625rem;
  }
}
@media (max-width: 29.99875em) {
  .search-header {
    background-color: #fff;
  }
}
.search-header__button {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 2.5625rem;
  width: 2.5625rem;
}
.search-header__button::before {
  margin-left: 0.625rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}
.search-header__input {
  width: 100%;
  height: 2.5625rem;
  padding: 0 0.625rem 0 2.5625rem;
  background-color: transparent;
  font-size: 0.875rem;
  color: #000;
}
.search-header__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.actions-header {
  display: flex;
  align-items: center;
}
@supports (column-gap: clamp( 0.9375rem , -1.7410714286rem  +  3.5714285714vw , 1.875rem )) {
  .actions-header {
    column-gap: clamp( 0.9375rem , -1.7410714286rem  +  3.5714285714vw , 1.875rem );
  }
}
@supports not (column-gap: clamp( 0.9375rem , -1.7410714286rem  +  3.5714285714vw , 1.875rem )) {
  .actions-header {
    column-gap: calc(0.9375rem + 0.9375 * (100vw - 75rem) / 26.25);
  }
}
@media (max-width: 61.99875em) {
  .actions-header {
    display: none;
  }
}
.actions-header__location {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
@supports (margin-right: clamp( 0.0000000625rem , -5.2787159426rem  +  6.7567564865vw , 1.5625rem )) {
  .actions-header__location {
    margin-right: clamp( 0.0000000625rem , -5.2787159426rem  +  6.7567564865vw , 1.5625rem );
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -5.2787159426rem  +  6.7567564865vw , 1.5625rem )) {
  .actions-header__location {
    margin-right: calc(0.0000000625rem + 1.5624999375 * (100vw - 78.125rem) / 23.125);
  }
}
.actions-header__location::before {
  font-size: 1.5625rem;
  margin-right: 0.4em;
}
@media (any-hover: hover) {
  .actions-header__location:hover span {
    text-decoration: underline;
  }
}
.actions-header__favorite {
  font-size: 1.6875rem;
}
.phones-header__item {
  position: relative;
  display: flex;
}
.phones-header__phone {
  font-weight: 700;
  line-height: 1.2222222222;
  white-space: nowrap;
}
.phones-header__phone::before {
  display: none;
}
@media (max-width: 61.99875em) {
  .phones-header__phone {
    font-size: 1.4375rem;
    font-weight: 500;
  }
}
@media (max-width: 29.99875em) {
  .phones-header__phone::before {
    display: block;
    font-size: 1.6875rem;
  }
  .phones-header__phone span {
    display: none;
  }
}
.phones-header__arrow {
  padding: 0.3125rem;
  margin: 0 -0.1875rem 0 0.5rem;
  transition: transform 0.3s ease 0s;
}
.phones-header__arrow::before {
  font-size: 0.625rem;
  color: #E8AA31;
}
.phones-header__arrow._spoller-active {
  transform: rotate(180deg);
}
@media (max-width: 61.99875em) {
  .phones-header__arrow {
    display: none;
  }
}
.phones-header__list {
  position: absolute;
  top: 100%;
  z-index: 2;
  left: -0.5rem;
  background-color: #ECF1F2;
  border-radius: 0 0 0.3125rem 0.3125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.phones-header__list li {
  margin: 0.3125rem 0.5rem;
}
@media (max-width: 61.99875em) {
  .phones-header__list {
    display: none;
  }
}
.phones-header__callback {
  font-weight: 700;
  color: #E8AA31;
  margin-top: 0.1875rem;
}
@media (any-hover: hover) {
  .phones-header__callback:hover {
    text-decoration: underline;
  }
}
@media (max-width: 61.99875em) {
  .phones-header__callback {
    display: none;
  }
}

.cart-header {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
}
.cart-header__icon {
  flex: 0 0 2.3125rem;
  font-size: 2.0625rem;
  position: relative;
}
@media (max-width: 61.99875em) {
  .cart-header__icon {
    font-size: 1.75rem;
    flex: 0 0 2rem;
  }
}
.cart-header__icon span {
  position: absolute;
  background-color: #E8AA31;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  font-size: 0.5rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  display: flex;
}
@media (max-width: 61.99875em) {
  .cart-header__icon span {
    top: -0.1875rem;
    right: -0.0625rem;
  }
}
.cart-header__body {
  flex: 0 0 auto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
@media (max-width: 78.125em) {
  .cart-header__body {
    display: none;
  }
}
.cart-header__checkout {
  color: #E8AA31;
}
@media (any-hover: hover) {
  .cart-header__checkout:hover {
    text-decoration: underline;
  }
}

.catalog-header {
  position: relative;
}
@media (max-width: 29.99875em) {
  .catalog-header {
    padding: 0.9375rem 0;
  }
}
@media (max-width: 61.99875em) {
  .menu-catalog {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    overflow: auto;
    width: 287px;
    border-left: 1px solid #E8ECED;
    background-color: #141414;
    padding: 1.875rem 0.9375rem 3.125rem;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }
  .catalog-open .menu-catalog {
    right: 0%;
  }
}
.menu-catalog__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .menu-catalog__list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.menu-catalog__link {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;
}
.menu-catalog__link[data-parent-submenu]::before {
  display: none;
}
@media (max-width: 61.99875em) {
  .menu-catalog__link[data-parent-submenu] {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .menu-catalog__link[data-parent-submenu]::before {
    transform: rotate(-90deg);
    font-size: 0.5rem;
    flex: 0 0 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-catalog__link::after {
  content: "";
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #E8AA31;
  width: 100%;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-catalog__link:hover {
    color: #E8AA31;
  }
}
@media (min-width: 61.99875em) {
  .menu-catalog__link {
    min-height: 4.375rem;
    margin: 0 0.625rem;
  }
  .menu-catalog__link:hover::after {
    visibility: visible;
    opacity: 1;
  }
  .menu-catalog__link._submenu-active {
    color: #E8AA31;
  }
  .menu-catalog__link._submenu-active::after {
    visibility: visible;
    opacity: 1;
  }
}
.menu-catalog__submenu {
  width: 100%;
  right: 0;
  top: 100%;
  background-color: #141414;
}
@media (max-width: 61.99875em) {
  .submenu-catalog {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    overflow: auto;
    width: 287px;
    border-left: 1px solid #E8ECED;
    background-color: #141414;
    padding: 1.875rem 0.9375rem 3.125rem;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }
  .submenu-open .submenu-catalog {
    right: 0%;
  }
}
.submenu-catalog__container {
  padding: 0;
}
.submenu-catalog__block {
  display: none;
}
.submenu-catalog__block_1 {
  grid-template-columns: repeat(1, minmax(12rem, 20rem));
}
.submenu-catalog__block_2 {
  grid-template-columns: repeat(2, minmax(12rem, 20rem));
}
.submenu-catalog__block_3 {
  grid-template-columns: repeat(3, minmax(12rem, 20rem));
}
.submenu-catalog__block_4 {
  grid-template-columns: repeat(4, minmax(12rem, 20rem));
}
.submenu-catalog__block_5 {
  grid-template-columns: repeat(5, minmax(12rem, 20rem));
}
.submenu-catalog__block._submenu-open {
  display: grid;
}
@media (max-width: 61.99875em) {
  .submenu-catalog__block._submenu-open {
    display: block;
  }
}
.submenu-catalog__category {
  font-size: 1.125rem;
  line-height: 1.25;
  padding: 0 0 1.25rem 0;
}
@media (any-hover: hover) {
  .submenu-catalog__category:hover {
    color: #E8AA31;
  }
}
@media (min-width: 61.99875em) {
  .submenu-catalog__category {
    padding: 1.875rem 0.625rem;
    font-weight: 700;
    font-size: 1rem;
  }
}
.submenu-catalog__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.875rem 0.625rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 61.99875em) {
  .submenu-catalog__list {
    display: none;
  }
}
.submenu-catalog__link {
  font-size: 1rem;
  line-height: 1.25;
}
@media (any-hover: hover) {
  .submenu-catalog__link:hover {
    text-decoration: underline;
  }
}
.submenu-catalog__footer {
  padding: 1.875rem 0.625rem;
}
@media (max-width: 61.99875em) {
  .submenu-catalog__footer {
    display: none;
  }
}
.submenu-catalog__all {
  font-size: 1rem;
  line-height: 1.25;
  color: #E8AA31;
}
@media (any-hover: hover) {
  .submenu-catalog__all:hover {
    text-decoration: underline;
  }
}

._icon-back {
  display: none;
}
@media (max-width: 61.99875em) {
  ._icon-back {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1.9375em;
  }
  ._icon-back::before {
    margin-right: 0.8125em;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.1875rem;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    border-radius: 10px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    transition: all 0s ease 0s;
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    width: 1.375rem;
    top: calc(50% - 0.09375rem);
    transform: translateX(0.125rem) rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    width: 1.375rem;
    bottom: calc(50% - 0.09375rem);
    transform: translateX(0.125rem) rotate(45deg);
  }
}

.main-block {
  background: url("../img/main-page/main-block-bg.png") center/cover no-repeat;
}
@supports (padding-bottom: clamp( 5rem , 4.9230769231rem  +  0.3846153846vw , 5.3125rem )) {
  .main-block {
    padding-bottom: clamp( 5rem , 4.9230769231rem  +  0.3846153846vw , 5.3125rem );
  }
}
@supports not (padding-bottom: clamp( 5rem , 4.9230769231rem  +  0.3846153846vw , 5.3125rem )) {
  .main-block {
    padding-bottom: calc(5rem + 0.3125 * (100vw - 20rem) / 81.25);
  }
}
.main-block__body {
  display: grid;
  align-items: flex-start;
  gap: 1.25rem;
}
@supports (margin-right: clamp( 0.0000000625rem , 15.0070620593rem  +  -14.1242936441vw , 6.25rem )) {
  .main-block__body {
    margin-right: clamp( 0.0000000625rem , 15.0070620593rem  +  -14.1242936441vw , 6.25rem );
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , 15.0070620593rem  +  -14.1242936441vw , 6.25rem )) {
  .main-block__body {
    margin-right: calc(6.25rem + -6.2499999375 * (100vw - 62rem) / 44.25);
  }
}
@media (max-width: 62em) {
  .main-block__body {
    margin-right: inherit;
  }
}
@supports (margin-bottom: clamp( 1.875rem , 1.675rem  +  1vw , 2.6875rem )) {
  .main-block__body:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.675rem  +  1vw , 2.6875rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 1.675rem  +  1vw , 2.6875rem )) {
  .main-block__body:not(:last-child) {
    margin-bottom: calc(1.875rem + 0.8125 * (100vw - 20rem) / 81.25);
  }
}
@media (min-width: 61.99875em) {
  .main-block__body {
    grid-template-columns: 1fr 40.6289308176%;
  }
}
.main-block__slider {
  margin: 0 -1.875rem;
  padding: 0 1.875rem;
}
.main-block__wrapper:not(:last-child) {
  margin-bottom: 2.6875rem;
}
.control-main-block {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
}
.control-main-block__dotts {
  display: flex;
  gap: 1.0625rem;
  padding-left: 0.125rem;
}
.control-main-block__dotts .swiper-pagination-bullet {
  position: relative;
  cursor: pointer;
  width: 1.125rem;
  height: 1.25rem;
  transition: all 0.3s ease 0s;
}
.control-main-block__dotts .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 64%;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #fff;
}
.control-main-block__dotts .swiper-pagination-bullet::before {
  content: "";
  background-color: #E8AA31;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: -0.125rem;
  opacity: 0;
  transition: left 3s linear 0s;
}
.control-main-block__dotts .swiper-pagination-bullet-active {
  width: 1.75rem;
}
.control-main-block__dotts .swiper-pagination-bullet-active::after {
  background-color: #E8AA31;
}
.control-main-block__dotts .swiper-pagination-bullet-active::before {
  left: 1.25rem;
  opacity: 1;
}
.fraction-control {
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: -0.1em;
}
.fraction-control__current {
  font-size: 1.5rem;
  color: #E8AA31;
  letter-spacing: 0.05em;
}
.slide-main-block__content {
  color: #fff;
}
@supports (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) {
  .slide-main-block__content {
    margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3.75rem )) {
  .slide-main-block__content {
    margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.25);
  }
}
@supports (margin-top: clamp( 1.25rem , 0.8807692308rem  +  1.8461538462vw , 2.75rem )) {
  .slide-main-block__content {
    margin-top: clamp( 1.25rem , 0.8807692308rem  +  1.8461538462vw , 2.75rem );
  }
}
@supports not (margin-top: clamp( 1.25rem , 0.8807692308rem  +  1.8461538462vw , 2.75rem )) {
  .slide-main-block__content {
    margin-top: calc(1.25rem + 1.5 * (100vw - 20rem) / 81.25);
  }
}
.slide-main-block__title {
  font-weight: 700;
  line-height: 1.2777777778;
  margin-bottom: 0.4166666667em;
}
@supports (font-size: clamp( 1.5rem , 1.1428571429rem  +  1.7857142857vw , 2.25rem )) {
  .slide-main-block__title {
    font-size: clamp( 1.5rem , 1.1428571429rem  +  1.7857142857vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.1428571429rem  +  1.7857142857vw , 2.25rem )) {
  .slide-main-block__title {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 42);
  }
}
.slide-main-block__sub-title {
  line-height: 1.2777777778;
  margin-bottom: 0.8611111111em;
}
@supports (font-size: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.25rem )) {
  .slide-main-block__sub-title {
    font-size: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.25rem )) {
  .slide-main-block__sub-title {
    font-size: calc(1.25rem + 1 * (100vw - 20rem) / 42);
  }
}
.slide-main-block__text {
  line-height: 1.5;
}
@supports (font-size: clamp( 1rem , 0.880952381rem  +  0.5952380952vw , 1.25rem )) {
  .slide-main-block__text {
    font-size: clamp( 1rem , 0.880952381rem  +  0.5952380952vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.880952381rem  +  0.5952380952vw , 1.25rem )) {
  .slide-main-block__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 42);
  }
}
.media-main-block {
  margin-right: 0;
  display: flex;
  align-items: flex-start;
  position: relative;
}
@supports (margin-top: clamp( 0.625rem , 0.2403846154rem  +  1.9230769231vw , 2.1875rem )) {
  .media-main-block {
    margin-top: clamp( 0.625rem , 0.2403846154rem  +  1.9230769231vw , 2.1875rem );
  }
}
@supports not (margin-top: clamp( 0.625rem , 0.2403846154rem  +  1.9230769231vw , 2.1875rem )) {
  .media-main-block {
    margin-top: calc(0.625rem + 1.5625 * (100vw - 20rem) / 81.25);
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -26.7097698096rem  +  31.6091951149vw , 6.875rem )) {
  .media-main-block {
    margin-left: clamp( 0.0000000625rem , -26.7097698096rem  +  31.6091951149vw , 6.875rem );
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -26.7097698096rem  +  31.6091951149vw , 6.875rem )) {
  .media-main-block {
    margin-left: calc(0.0000000625rem + 6.8749999375 * (100vw - 84.5rem) / 21.75);
  }
}
@media (max-width: 61.99875em) {
  .media-main-block {
    justify-content: center;
  }
}
.media-main-block__image {
  position: relative;
}
@supports (margin-right: clamp( 1.875rem , -0.211438152rem  +  10.4321907601vw , 6.25rem )) {
  .media-main-block__image {
    margin-right: clamp( 1.875rem , -0.211438152rem  +  10.4321907601vw , 6.25rem );
  }
}
@supports not (margin-right: clamp( 1.875rem , -0.211438152rem  +  10.4321907601vw , 6.25rem )) {
  .media-main-block__image {
    margin-right: calc(1.875rem + 4.375 * (100vw - 20rem) / 41.9375);
  }
}
@media (min-width: 61.9375em) {
  .media-main-block__image {
    margin-right: inherit;
  }
}
.media-main-block__image::after {
  content: "";
  width: 152.1158129176%;
  height: 131.0621242485%;
  display: block;
  position: absolute;
  top: -7%;
  left: -6%;
  z-index: 2;
  background: url("../img/main-page/main-block-bg-image.png") center/cover no-repeat;
}
.media-main-block__image img {
  z-index: 3;
  position: relative;
  max-width: 100%;
}
.media-main-block__tips {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.media-main-block__tip {
  position: absolute;
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  width: 1.875rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  border-radius: 50%;
  background: radial-gradient(circle, #E8AA31 44%, rgba(232, 170, 49, 0.5) 50%);
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .media-main-block__tip:hover {
    transform: rotate(180deg);
  }
}
.media-main-block__tip-1 {
  top: 35.6713426854%;
  left: 15.144766147%;
}
.media-main-block__tip-2 {
  top: 10.2204408818%;
  right: 2.004454343%;
}
.media-main-block__tip-3 {
  bottom: 21.8436873747%;
  right: 5.3452115813%;
}

.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.625rem;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .advantages-main {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .advantages-main {
    grid-template-columns: repeat(1, auto);
  }
}
.advantages-main__item {
  display: grid;
  gap: 0.625rem;
  max-width: 18.4375rem;
  align-items: center;
  justify-items: center;
  grid-template-rows: 4.8125rem auto;
  text-align: center;
}
.advantages-main__text {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
}

@supports (margin-top: clamp( -1.875rem , -3.5211538462rem  +  8.2307692308vw , 4.8125rem )) {
  .catalog-cards {
    margin-top: clamp( -1.875rem , -3.5211538462rem  +  8.2307692308vw , 4.8125rem );
  }
}
@supports not (margin-top: clamp( -1.875rem , -3.5211538462rem  +  8.2307692308vw , 4.8125rem )) {
  .catalog-cards {
    margin-top: calc(-1.875rem + 6.6875 * (100vw - 20rem) / 81.25);
  }
}
@supports (margin-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 4.375rem )) {
  .catalog-cards {
    margin-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 4.375rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 4.375rem )) {
  .catalog-cards {
    margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 81.25);
  }
}
.catalog-cards__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(23.125rem, 31.8125rem));
  gap: 1.875rem;
}
@media (max-width: 75em) {
  .catalog-cards__container {
    grid-template-columns: repeat(2, minmax(23.125rem, 31.8125rem));
  }
}
@media (max-width: 50em) {
  .catalog-cards__container {
    grid-template-columns: minmax(23.125rem, 31.8125rem);
  }
}
@media (max-width: 29.99875em) {
  .catalog-cards__container {
    grid-template-columns: minmax(16.875rem, 1fr);
  }
}
.item-catalog-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-catalog-cards:hover {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
  }
}
.item-catalog-cards__body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media (max-width: 23.75em) {
  .item-catalog-cards__body {
    display: block;
  }
}
.item-catalog-cards__title {
  margin: 1.875rem;
  z-index: 1;
}
.item-catalog-cards__title-link {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
}
.item-catalog-cards__title-link::after {
  content: "";
  margin-top: 1.0625rem;
  display: block;
  width: 4.25rem;
  height: 0.125rem;
  background-color: #E8AA31;
  transition: width 0.8s ease 0s;
}
@media (any-hover: hover) {
  .item-catalog-cards__title-link:hover::after {
    width: 100%;
  }
}
.item-catalog-cards__list {
  padding: 0 0 3.75rem 1.875rem;
}
@media (max-width: 23.75em) {
  .item-catalog-cards__list {
    padding: 0 0 0 1.875rem;
  }
}
.item-catalog-cards__item {
  position: relative;
  padding: 0 0 0 1.3125rem;
}
.item-catalog-cards__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-catalog-cards__item::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  position: absolute;
  left: 0;
  top: 0.7777777778em;
  border-radius: 50%;
  background-color: #E8AA31;
}
.item-catalog-cards__link {
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.8888888889;
}
@media (any-hover: hover) {
  .item-catalog-cards__link:hover {
    text-decoration: underline;
  }
}
.item-catalog-cards__image {
  position: relative;
}
.item-catalog-cards__image img:not([src*="320"]) {
  position: absolute;
  bottom: 0;
  width: 110%;
  z-index: 0;
}
@supports (right: clamp( -1.25rem , -7.1875002969rem  +  25.00000125vw , 0.0000000625rem )) {
  .item-catalog-cards__image img:not([src*="320"]) {
    right: clamp( -1.25rem , -7.1875002969rem  +  25.00000125vw , 0.0000000625rem );
  }
}
@supports not (right: clamp( -1.25rem , -7.1875002969rem  +  25.00000125vw , 0.0000000625rem )) {
  .item-catalog-cards__image img:not([src*="320"]) {
    right: calc(-1.25rem + 1.2500000625 * (100vw - 23.75rem) / 5);
  }
}
@media (max-width: 23.75em) {
  .item-catalog-cards__image img:not([src*="320"]) {
    display: none;
  }
}
.item-catalog-cards__image img[src*="320"] {
  width: 100%;
}
@media (min-width: 23.8125em) {
  .item-catalog-cards__image img[src*="320"] {
    display: none;
  }
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
