.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:before {
			border-color: $mainOrange;
		}
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		font-size: rem(16);
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: rem(18);
		&:before {
			content: "";
			transition: border-color 0.3s ease 0s;
			align-self: flex-start;
			flex: 0 0 rem(18);
			width: rem(18);
			height: rem(18);
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 2px;
		}
		&:after {
			content: "";
			transition: transform 0.3s ease 0s;
			transform: scale(0);
			position: absolute;
			align-self: flex-start;
			width: rem(12);
			height: rem(12);
			top: rem(3);
			left: rem(3);
			border-radius: 1px;
			background-color: $mainOrange;
		}
	}
	// .checkbox__text
	&__text {
		small {
			color: $mainOrange;
			margin-left: rem(16);
		}
	}
}
