.catalog {
  // .catalog__container
  &__container {
  }
  // .catalog__title
  &__title {
  }
  // .catalog__breadcrumbs
  &__breadcrumbs {
  }
  // .catalog__body 
  &__body {
    display: grid;
    gap: rem(30);
    align-items: start;
    @media (min-width: $tablet) {
      grid-template-columns: rem(300) 1fr; 
    }    
    @media (min-width: em(1200)){
      grid-template-columns: rem(375) 1fr; 
    }
  }
  // .catalog__filter
  &__filter {
  }
  // .catalog__content
  &__content {
  }
  // .catalog__control
  &__control {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(30);
  }
  // .catalog__products
  &__products {
    display: grid;
    gap: rem(30);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
      // margin-bottom: rem(60);
    }
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
  }
  // .catalog__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    @media (max-width: $mobile) {
      flex-direction: column; 
      align-items: center;
    }
  }
  // .catalog__more
  &__more {
    @include adaptiveValue("width", 326, 250, 1590, 1200, 1);
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .catalog__paging
  &__paging {
  }
}

//====================================================================================================

.filter-catalog {
  background: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  // .filter-catalog__title
  &__title {
    width: 100%;
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(24, 20);
    background-color: $mainDarkColor;
    padding: rem(23) rem(30);
    color: #fff;
  }
  // .filter-catalog__item
  &__item {
  }
}

.price-filter {
  padding: rem(30) rem(30) rem(0) rem(30);
  // .price-filter__title
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    font-weight: 600;
    font-size: rem(20);
    width: 100%;
    &::before {
      transition: transform 0.3s ease 0s;
      font-size: rem(8);
      color: $mainOrange;
      transform: rotate(180deg);
    }
    &._spoller-active {
      &::before {
        transform: rotate(0deg);
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .price-filter__body
  &__body {
    padding-bottom: rem(50);
  }
  // .price-filter__inputs
  &__inputs {
    display: flex;
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }
  // .price-filter__input
  &__input {
    text-align: center;
    padding: rem(10) rem(15);
    font-size: rem(16);
    line-height: math.div(20, 16);
    width: 50%;
    &:not(:last-child) {
      border-right: 1px solid #CBCBCB;
    }
    &:focus {
			outline: 2px solid rgba(4, 4, 4, 0.3);
      border-radius: 2px;
		}
    &:focus:not(:last-child) {
			margin-right: 2px; 
      border-right: none; 
		}
  }
  // .price-filter__range
  &__range {
  }
}

.item-filter {
  &:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  // .item-filter__title
  &__title {
    font-weight: 600;
    width: 100%;
    font-size: rem(20);
    line-height: math.div(24, 20);
    background-color: $mainDarkColor;
    padding: rem(13) rem(30);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    &::before {
      transition: transform 0.3s ease 0s;
      font-size: rem(8);
      color: $mainOrange;
      transform: rotate(180deg);
    }
    &._spoller-active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }
  // .item-filter__body
  &__body {
    padding: rem(24) rem(30) rem(30) rem(30);
  }
  // .item-filter__inputs
  &__inputs {
    display: flex;
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }
  // .item-filter__input
  &__input {
    text-align: center;
    padding: rem(10) rem(15);
    font-size: rem(16);
    line-height: math.div(20, 16);
    width: 50%;
    &:not(:last-child) {
      border-right: 1px solid #CBCBCB;
    }
    &:focus {
			outline: 2px solid rgba(4, 4, 4, 0.3);
      border-radius: 2px;
		}
    &:focus:not(:last-child) {
			margin-right: 2px; 
      border-right: none; 
		}
  }
  // .item-filter__range
  &__range {
    margin-bottom: rem(8);
  }
  // .item-filter__checkbox
  &__checkbox {
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }
}


