.dotts {
  display: flex;
  gap: rem(17);
  padding-left: rem(2);
  .swiper-pagination-bullet {
    position: relative;
    cursor: pointer;
    width: rem(18);
    height: rem(20);
    transition: all 0.3s ease 0s;
    &::after {
      content: "";
      position: absolute;
      top: 64%;
      left: 0;
      height: rem(2);
      width: 100%;
      background-color: #fff;
    }
    &::before {
      content: "";
      background-color: $mainOrange;
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      position: absolute;
      top: 44%;
      left: rem(-2);
      opacity: 0;
      transition: left 3s linear 0s;
    }
  }
  .swiper-pagination-bullet-active {
    width: rem(28);
    &::after {
      background-color: $mainOrange;
    }
    &::before {
      left: rem(20);
      opacity: 1;
    }
  }
}

.breadcrumbs {
  white-space: nowrap;
  overflow: auto;
  margin-bottom: rem(28);
  // .breadcrumbs__list
  &__list {
    display: flex;
    column-gap: rem(12);
    row-gap: rem(6);
    flex-wrap: wrap;
  }
  // .breadcrumbs__item
  &__item {
    font-weight: 500;
    font-size: rem(16);
    line-height: math.div(20, 16);
  }
  // .breadcrumbs__link
  &__link {
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: rem(13);
    &::after {
      content: "\e90e";
      @extend %ic;
      font-size: rem(8);
      transform: rotate(-90deg);
    }
  }
  // .breadcrumbs__current
  &__current {
    color: $mainOrange;
  }
}

.title {
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);
  &:not(:last-child) {
    margin-bottom: rem(25);
  }
}

.paging {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // gap: rem(28);
  @include adaptiveValue("gap", 28, 14);
  // .paging__arrow
  &__arrow {
    &:disabled {
      
    }
    &::before {
      font-size: rem(13);
    }
    // .paging__arrow_left
    &_left {
      transform: rotate(90deg);
    }
    // .paging__arrow_right
    &_right {
      transform: rotate(-90deg);
    }
  }
  // .paging__list
  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 14, 8);
  }
  // .paging__item
  &__item {
  }
  // .paging__link
  &__link {
    width: rem(34);
    height: rem(34);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: #000;
    &._active {
      background-color: $mainOrange;
      color: #fff;
    }
  }
}

