//====================================================================================================
.header {
	// .header__top
	&__top {
		background-color: $mainDarkColor;
		color: #fff;
	}
	// .header__body
	&__body {
		background-color: #ECF1F2;
	}
	// .header__catalog
	&__catalog {
		background-color: $mainDarkColor;
		color: #fff;
	}
}

//====================================================================================================
// top-header
//====================================================================================================

.top-header {
	padding: rem(10) 0;
	// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50);
		@media (max-width: $tablet){
			gap: rem(35);
			padding: 0 rem(17) 0 rem(26);
		}
	}
	// .top-header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .top-header__user
	&__user {
		display: inline-flex;
		font-size: rem(18);
		font-weight: 600;
		line-height: math.div(22 ,18);
		gap: em(15, 18);
		&::before{
			font-size: rem(28);
		}
		span {
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover {
				span {
					color: $mainOrange;
				}
			}
		}
		@media (max-width: $tablet){
			span {
				display: none;
			}
		}
	}
}
.menu-top-header {
	@media (max-width:$tablet){
		display: none;
	}
	// .menu-top-header__list
	&__list {
		display: flex;
		row-gap: rem(5);
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet){
			flex-direction: column;
			row-gap: rem(20);
		}
	}
	// .menu-top-header__item
	&__item {
		&_catalog {
			@media (min-width: $tablet){
				display: none;
			}
		}
	}
	// .menu-top-header__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover {
				color: $mainOrange;
			}
		}
		&_catalog {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
				transform: rotate(-90deg);
				font-size: rem(8);
				flex: 0 0 rem(14);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		@media (max-width: $tablet){
			font-size: rem(18);
		}
	}
}
.menu-burger {
	@media (max-width: $tablet) {
		display: flex;
		justify-content: flex-end;
		flex: 1 1 auto;
	}
	// .menu-burger__icon 
	&__icon {
	}
	// .menu-burger__body 
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 287px;
			height: 100%;
			top: 0;
			right: -100%;
			overflow: auto;
			border-left: 1px solid #E8ECED;
			background-color: $mainDarkColor;
			padding: rem(80) rem(15) rem(50);
			z-index: 4;
			transition: all 0.3s ease 0s;
			&::before {
				content: "";
				position: fixed;
				width: 286px;
				height: rem(70);
				top: 0;
				right: -100%;
				background-color: $mainDarkColor;
				z-index: 3;
				transition: all 0.3s ease 0s;
			}
			.menu-open & {
				right: 0;
				&::before {
					right: 0;
				}
			}
		}
	}
}

//====================================================================================================
// body-header
//====================================================================================================

.body-header {
	padding: rem(10) 0;
	@media (max-width: $mobile){
		padding: 0;
	}
	// .body-header__container
	&__container {
		display: flex;
		align-items: center;
		min-height: rem(70);
		@media (max-width: $tablet){
			padding: 0 rem(17) 0 rem(26);
		}
		@media (max-width: $mobileSmall){
			padding: 0 rem(17) 0 rem(32); 
		}
	}
	// .body-header__logo
	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		// @include adaptiveValue("font-size", 42, 30);
		color: #1F1C21;
	}
	// .body-header__search
	&__search {
		flex: 1 1 auto;
		@media (min-width: $mobileSmall){
			@include adaptiveValue("padding-left", 158, 20, 1620, 1400, 1);
		}
		@media (min-width: $tablet){
			padding-right: rem(20);
		}
	}
	// .body-header__actions
	&__actions {
	}
}
.search-header {
	background-color: rgba(7, 7, 7, 0.03);
	border-radius: 3px;
	border: 1px solid rgba(4, 4, 4, 0.5);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	position: relative;
	@media (min-width: $tablet){
		max-width: rem(377);
	}
	@media (max-width: $mobileSmall){
		background-color: #fff; 
	}
	// .search-header__button
	&__button {
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		background-color: transparent;
		height: rem(41);
		width: rem(41);
		&::before {
			margin-left: rem(10);
			font-size: rem(14);
			color: rgba(0, 0, 0, 0.5);
		}
	}
	// .search-header__input
	&__input {
		width: 100%;
		height: rem(41);
		padding: 0 rem(10) 0 rem(41);
		background-color: transparent;
		font-size: rem(14);
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}
		color: $mainColor;
	}
}
.actions-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 30, 15, 1620, 1200, 1);
	@media (max-width:$tablet){
			display: none;
		}
	// .actions-header__location
	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("margin-right", 25, 0, 1620, 1250, 1);
		&::before{
			font-size: rem(25);
			margin-right: em(10, 25);
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	// .actions-header__phones
	&__phones {
	}
	// .actions-header__favorite
	&__favorite {
		font-size: rem(27);
	}
	// .actions-header__cart
	&__cart {
	}
}
.phones-header {
	// .phones-header__items
	&__items {
	}
	// .phones-header__item
	&__item {
		position: relative;
		display: flex;
	}
	// .phones-header__phone
	&__phone {
		font-weight: 700;
		line-height: math.div(22, 18);
		white-space: nowrap;
		&::before {
			@extend %ic;
			@extend ._icon-footer-phone;
			display: none;
		}
		@media (max-width: $tablet){
			font-size: rem(23);
			font-weight: 500;
		}
		@media (max-width: $mobileSmall){
			&::before {
				display: block;
				font-size: rem(27);
			}
			span {
				display: none;
			}
		}
	}
	// .phones-header__arrow
	&__arrow {
		padding: rem(5);
		margin: 0 rem(-3) 0 rem(8);
		transition: transform 0.3s ease 0s;
		&::before{
			font-size: rem(10);
			color: $mainOrange;
		}
		&._spoller-active {
			transform: rotate(180deg);
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
	// .phones-header__list
	&__list {
		position: absolute;
		top: 100%;
		z-index: 2;
		left: rem(-8);
		background-color: #ECF1F2;
		border-radius: 0 0 rem(5) rem(5);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		li {
			margin: rem(5) rem(8);
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
	// .phones-header__callback
	&__callback {
		font-weight: 700;
		color: $mainOrange;
		margin-top: rem(3);
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
}
.cart-header {
	display: flex;
	align-items: center;
	column-gap: rem(15);
	// .cart-header__icon
	&__icon {
		flex: 0 0 rem(37);
		font-size: rem(33);
		position: relative;
		@media (max-width:$tablet){
			font-size: rem(28);
			flex: 0 0 rem(32);
		}
		span {
			position: absolute;
			background-color: $mainOrange;
			width: rem(14);
			height: rem(14); 
			border-radius: 50%;
			font-size: rem(8);
			color: #fff;
			align-items: center;
			justify-content: center;
			top: 0;
			right: 0;
			display: flex;
			@media (max-width:$tablet){
				top: rem(-3);
				right: rem(-1);
			}
		}
	}
	// .cart-header__body
	&__body {
		flex: 0 0 auto;
		font-size: rem(16);
		font-weight: 500;
		line-height: math.div(20, 16);
		@media (max-width: em(1250)){
			display: none;
		}
	}
	// .cart-header__sum
	&__sum {
	}
	// .cart-header__checkout
	&__checkout {
		color: $mainOrange;
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================
// catalog-header
//====================================================================================================

.catalog-header {
	position: relative;
	@media (max-width: $mobileSmall){
		padding: rem(15) 0;
	}
	// .catalog-header__container
	&__container {
	}
	// .catalog-header__menu
	&__menu {
	}
}
.menu-catalog {
	@media (max-width: $tablet){
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		overflow: auto;
		width: 287px;
		border-left: 1px solid #E8ECED;
		background-color: $mainDarkColor;
		padding: rem(30) rem(15) rem(50);
		transition: all 0.3s ease 0s;
		z-index: 5;
		.catalog-open & {
			right: 0%;
		}
	}
	// .menu-catalog__list
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width: $tablet){
			flex-direction: column;
			row-gap: rem(20);
		}
	}
	// .menu-catalog__item
	&__item {

	}
	// .menu-catalog__link
	&__link {
		display: flex;
		align-items: center;
		position: relative;
		transition: all 0.3s ease 0s;
		&[data-parent-submenu] {
			&::before {
					@extend %ic;
					@extend ._icon-arrow-bottom;
					display: none;
				}
			@media (max-width: $tablet){
				display: flex;
				width: 100%;
				align-items: center;
				flex-direction: row-reverse;
				justify-content: space-between;
				&::before {
					transform: rotate(-90deg);
					font-size: rem(8);
					flex: 0 0 rem(14);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		&::after {
			content: "";
			visibility: hidden;
			opacity: 0;
			position: absolute;
			bottom: 0;
			height: 2px;
			background-color: $mainOrange;
			width: 100%;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
			}
		}
		@media (min-width: $tablet){
			&:hover {
				&::after {
					visibility: visible;
					opacity: 1;
				}
			}
			min-height: rem(70);
			margin: 0 rem(10);
			&._submenu-active {
				color: $mainOrange;
				&::after {
					visibility: visible;
					opacity: 1;
				}
			}
		}		
	}
	// .menu-catalog__submenu
	&__submenu {
		width: 100%;
		right: 0;
		top: 100%;
		// position: absolute;
		background-color: $mainDarkColor;
	}
	// .menu-catalog__back
	&__back {
	}
}
.submenu-catalog {
	@media (max-width: $tablet){
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		overflow: auto;
		width: 287px;
		border-left: 1px solid #E8ECED;
		background-color: $mainDarkColor;
		padding: rem(30) rem(15) rem(50);
		transition: all 0.3s ease 0s;
		z-index: 5;
		.submenu-open & {
			right: 0%;
		}
	}
	// .submenu-catalog__back
	&__back {
	}
	// .submenu-catalog__container
	&__container {
		padding: 0;
	}	
	// .submenu-catalog__block
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				grid-template-columns: repeat($var, minmax(rem(192), rem(320)));
			}
		}
		&._submenu-open {
			display: grid;
			@media (max-width: $tablet){
				display: block;
			}
		}
	}
	// .submenu-catalog__category
	&__category {
		font-size: rem(18);
		line-height: math.div(20, 16);
		padding: 0 0 rem(20) 0;
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
			}
		}
		@media (min-width: $tablet){
			padding: rem(30) rem(10);
			font-weight: 700;
			font-size: rem(16);
		}
	}
	// .submenu-catalog__list
	&__list { 
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding: rem(30) rem(10);
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: $tablet){
			display: none;
		}
	}
	// .submenu-catalog__item
	&__item {
	}
	// .submenu-catalog__link
	&__link { 
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .submenu-catalog__footer
	&__footer {
		padding: rem(30) rem(10);
		@media (max-width: $tablet){
			display: none;
		}
	}
	// .submenu-catalog__all
	&__all {
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

._icon-back {
	display: none;
	@media (max-width: $tablet){
		display: inline-flex;
		align-items: center;
		font-size: rem(16);
		margin-bottom: em(31, 16);
		&::before {
			margin-right: em(13, 16);
		}
	}
}

//====================================================================================================
//Burger
//====================================================================================================

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(28);
		height: rem(19);
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			border-radius: 10px;
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			transition: all 0s ease 0s;
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				width: rem(22);
				top: calc(50% - rem(1.5));
				transform: translateX(rem(2)) rotate(-45deg);
			}
			&::after {
				width: rem(22);
				bottom: calc(50% - rem(1.5));
				transform: translateX(rem(2)) rotate(45deg);
			}
		}
	}
}
