.page-home {
  // .page-home__main-block
  &__main-block {
  }
  // .page-home__about-store
  &__about-store {
  }
  // .page-home__catalog-cards
  &__catalog-cards {
  }
  // .page-home__hit-products
  &__hit-products {
  }
  // .page-home__new-products
  &__new-products {
  }
  // .page-home__articles
  &__articles {
  }
  // .page-home__other-products
  &__other-products {
  }
  // .page-home__lamps-slider
  &__lamps-slider {
  }
}

//====================================================================================================

.main-block {
  background: url("@img/main-page/main-block-bg.png") center / cover no-repeat;
  @include adaptiveValue("padding-bottom", 85, 80);
  // .main-block__container
  &__container {
  }
  // .main-block__body
  &__body {
    display: grid;
    align-items: flex-start;
    gap: rem(20);
    @include adaptiveValue("margin-right", 0, 100, 1700, 992, 2);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
    @media (min-width: $tablet){
      grid-template-columns: 1fr percent(646, 1590);
    }
  }
  // .main-block__slider
  &__slider {
    margin: 0 rem(-30);
    padding: 0 rem(30);
  }
  // .main-block__wrapper
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: rem(43);
    }
  }
  // .main-block__slide
  &__slide {
  }
  // .main-block__media
  &__media {
  }
  // .main-block__advantages
  &__advantages {
  }
	// .main-block__control
	&__control {
	}
}
.control-main-block {
  display: flex;
  align-items: flex-end;
  gap: rem(20);
  // .control-main-block__dotts
  &__dotts {
  }
  // .control-main-block__fraction
  &__fraction {
  }
}
.fraction-control {
  color: #fff;
  font-weight: 600;
  font-size: rem(18);
  letter-spacing: -0.1em;
	// .fraction-control__current
	&__current {
    font-size: rem(24);
    color: $mainOrange;
    letter-spacing: 0.05em;
  }
  // .fraction-control__all
  &__all {
  }
}
.slide-main-block {
  // .slide-main-block__content
  &__content {
    color: #fff;
    @include adaptiveValue("margin-bottom", 60, 20);
    @include adaptiveValue("margin-top", 44, 20);
  }
  // .slide-main-block__title
  &__title {
    @include adaptiveValue("font-size", 36, 24, 992, 320, 1);
    font-weight: 700;
    line-height: math.div(46, 36);
    margin-bottom: em(15, 36);
  }
  // .slide-main-block__sub-title
  &__sub-title {
    @include adaptiveValue("font-size", 36, 20, 992, 320, 1);
    line-height: math.div(46, 36);
    margin-bottom: em(31, 36);
  }
  // .slide-main-block__text
  &__text {
    @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
    line-height: math.div(30, 20);
  }
  // .slide-main-block__button
  &__button {
    width: rem(228);
  }
}

.media-main-block {
  @include adaptiveValue("margin-top", 35, 10);
  @include adaptiveValue("margin-left", 110, 0, 1700, 1352, 1);
  margin-right: 0;  
  display: flex;
  align-items: flex-start;
  @media (max-width: $tablet){
    justify-content: center;
  }
  position: relative;
  // .media-main-block__image
  &__image {
    @include adaptiveValue("margin-right", 100, 30, 991, 320, 3);
    position: relative;
    &::after {
      content: "";
      width: percent(683, 449);
      height: percent(654, 499);
      display: block;
      position: absolute;
      top: -7%;
      left: -6%;
      z-index: 2;
      background: url("@img/main-page/main-block-bg-image.png") center / cover no-repeat;
    }
    img {
      z-index: 3;
      position: relative;
      max-width: 100%;
    }
  }
  // .media-main-block__tips
  &__tips {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // .media-main-block__tip
  &__tip {
    position: absolute;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: rem(20);
    color: #fff;
    width: rem(30);
    height: rem(30);
    text-align: center;
    line-height: rem(30);
    border-radius: 50%;
    background: radial-gradient(circle, $mainOrange 44%, rgba(232, 170, 49, 0.5) 50%);
    transition: transform 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        transform: rotate(180deg);
      }
    }
  }
  // .media-main-block__tip-1
  &__tip-1 {
    top: percent(178, 499);
    left: percent(68, 449);
  }
  // .media-main-block__tip-2
  &__tip-2 {
    top: percent(51, 499);
    right: percent(9, 449);
  }
  // .media-main-block__tip-3
  &__tip-3 {
    bottom: percent(109, 499);
    right: percent(24, 449);
  }
}
.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(10);
  justify-content: space-between;
  @media (max-width: $tablet){
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    gap: rem(30);
  }
  @media (max-width: $mobile){
    grid-template-columns: repeat(1, auto);  
  }
  // .advantages-main__item
  &__item {
    display: grid;
    gap: rem(10);
    max-width: rem(295);
    align-items: center;
    justify-items: center;
    grid-template-rows: rem(77) auto;
    text-align: center;
  }
  // .advantages-main__icon
  &__icon {

  }
  // .advantages-main__text
  &__text {
    color: #fff;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
  }
}

//====================================================================================================

.about-store {  
  @include adaptiveValue("padding-top", 96, -30);
  @include adaptiveValue("padding-bottom", 120, 60);
  // .about-store__container
  &__container {
  }
  // .about-store__body
  &__body {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: rem(30);
    @media (max-width: $tablet) {
      padding: rem(20);
    }
  }
  // .about-store__title830
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 22);
    line-height: math.div(46, 30);
    letter-spacing: 0.05em;
    color: #000;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .about-store__text
  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
    p {
      &:not(:last-child) {
        margin-bottom: rem(26);
      }
    }
  }
}


//====================================================================================================

.catalog-cards {
  @include adaptiveValue("padding-bottom", 120, 60);
  // .catalog-cards__container
  &__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(rem(370), rem(509)));
    gap: rem(30);
    @media (max-width: em(1200)){
      grid-template-columns: repeat(2, minmax(rem(370), rem(509)));  
    }
    @media (max-width: em(800)){
      grid-template-columns: minmax(rem(370), rem(509));    
    }
    @media (max-width: $mobileSmall){
      grid-template-columns: minmax(rem(270), 1fr);  
    }
  }
  
  // .catalog-cards__item
  &__item {
  }
}
.item-catalog-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
    }
  }
  // .item-catalog-cards__body
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @media (max-width: em(380)){
      display: block;
    }
  }
  // .item-catalog-cards__title
  &__title {
    margin: rem(30);
    z-index: 1;
  }
  // .item-catalog-cards__title-link
  &__title-link {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    display: inline-block;
    &::after {
      content: "";
      margin-top: rem(17);
      display: block;
      width: rem(68);
      height: rem(2);
      background-color: $mainOrange;
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover){
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  // .item-catalog-cards__list
  &__list {
    padding: 0 0 rem(60) rem(30);
    @media (max-width: em(380)){
      padding: 0 0 0 rem(30);
    }
  }
  // .item-catalog-cards__item
  &__item {
    position: relative;
    padding: 0 0 0 rem(21);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    &::before {
      content: "";
      width: rem(6);
      height: rem(6);
      position: absolute;
      left: 0;
      top: em(14, 18);
      border-radius: 50%;
      background-color: $mainOrange;
    }
  }
  // .item-catalog-cards__link
  &__link {
    cursor: pointer;
    font-size: rem(18);
    line-height: math.div(34, 18);
    // transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        // color: $mainOrange;
        text-decoration: underline;
      }
    }
  }
  // .item-catalog-cards__image
  &__image {
    position: relative;
    img:not([src *="320"]) {
      position: absolute;
      bottom: 0;
      width: 110%;
      z-index: 0;
      @include adaptiveValue("right", 0, -20, 460, 380, 1);
      @media (max-width: em(380)){
        display: none;
      }
    }
    img[src *="320"] {
      width: 100%;
      @media (min-width: em(381)){
        display: none;
      }
    }
  }
}

//====================================================================================================

.hit-products {
  @include adaptiveValue("padding-bottom", 120, 60);
}

//====================================================================================================

.new-products {
  @include adaptiveValue("padding-bottom", 126, 60);
  background: url("@img/main-page/new-product-bg.jpg") center / cover no-repeat;
  @include adaptiveValue("padding-top", 54, 30);
  @include adaptiveValue("padding-bottom", 45, 25);
  // .new-products__container
  &__container {
    display: flex;
    @include adaptiveValue("gap", 60, 10, 1590, 640, 1);
    @media (max-width: em(640)){
      flex-direction: column;
      gap: rem(20);
    }
  }
  // .new-products__aside
  &__aside {
    flex: 0 0 percent(340, 1590);
    @media (max-width: em(1300)){
      flex: 0 0 28%;  
    }
    @media (max-width: $tablet) {
      flex: 0 0 30%; 
    }
    @media (max-width: em(800)){
      flex: 0 0 44%;   
    }
  }
  // .new-products__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 24);
    line-height: math.div(46, 30);
    letter-spacing: 0.05em;
    color: #fff;
    @include adaptiveValue("margin-bottom", 30, 20);
  }
  // .new-products__text
  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: rem(60);
    @media (max-width: em(640)){
      margin-bottom: rem(20);
    }
  }
  // .new-products__more
  &__more {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 18);
    line-height: math.div(46, 20);
    letter-spacing: 0.05em;
    color: $mainOrange;
    transition: all 0.3s ease 0s;
    display: inline-flex;
    align-items: center;
    &::after {
      @extend %ic;
      content: "\e91a";
      transform: rotate(-90deg);
      font-size: rem(11);
      color: $mainOrange;
      margin-left: rem(12);
    }
    @media (any-hover: hover){
      &:hover{
        span {
          text-decoration: underline;
        }
      }
    }
  }
  // .new-products__content
  &__content {
    min-width: 0;
  }
  // .new-products__slider
  &__slider {
  }
  // .new-products__wrapper-slides
  &__wrapper-slides {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // .new-products__slide
  &__slide {
  }
  // .new-products__dotts
  &__dotts {
    @include adaptiveValue("gap", 17, 8, 768, 320, 1);
    justify-content: center;
    .swiper-pagination-bullet-active {
      width: rem(24);
      &::before {
        left: rem(16);
      }
    }
  }
}

//====================================================================================================

.sale-products {
  @include adaptiveValue("padding-bottom", 120, 60);
}

//====================================================================================================

.articles {
  @include adaptiveValue("padding-bottom", 120, 60);
  // .articles__container
  &__container {
  }
  // .articles__title
  &__title {
    font-weight: 700;
    font-size: rem(30);
    line-height: math.div(36, 30);
    letter-spacing: 0.05em;
    margin-bottom: rem(35);
  }
  // .articles__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    gap: rem(30);
    padding: rem(20);
    margin: rem(-20);
  }
  // .articles__item
  &__item {
  }
}
.article {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
    }
  }
  // .article__image-ibg
  &__image-ibg {
    padding-bottom: rem(200);
  }
  // .article__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: rem(20) rem(25);
  }
  // .article__title
  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
    &:not(:last-child) {
      margin-bottom: rem(9);
    }
  }
  // .article__date
  &__date {
    font-weight: 500;
    font-size: rem(16);
    line-height: math.div(34, 16);
    color: #ABABAB;
  }
}

//====================================================================================================

.other-products {
  @include adaptiveValue("padding-bottom", 120, 60);
  // .other-products__container
  &__container {
  }
  // .other-products__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(317), 1fr));
    gap: rem(46);
    @media (max-width: em(1200)){
      gap: rem(36);
    }
    @media (max-width: em(600)){
      grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));  
    }
  }
  // .other-products__item
  &__item {
  }
}
.other-product {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
    }
  }
  @media (max-width: em(1200)) and (min-width: em(700)){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: em(600)){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  // .other-product__body
  &__body {
    padding: rem(35) rem(0) rem(28) rem(28); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: em(1200)) and (min-width: em(700)){
      padding: rem(35) rem(28) rem(0) rem(28); 
      text-align: center;
    }
    @media (max-width: em(600)){
      padding: rem(35) rem(28) rem(0) rem(28);
      text-align: center; 
    }
  }
  // .other-product__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(37);
    }
  }
  // .other-product__title-link
  &__title-link {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 34);
    display: inline-block;
    &::after {
      content: "";
      margin-top: rem(17);
      display: block;
      width: rem(68);
      height: rem(2);
      background-color: $mainOrange;
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover){
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  // .other-product__text
  &__text {
    flex: 1 1 auto;
    font-size: rem(18);
    line-height: math.div(30, 18);
    &:not(:last-child) {
      margin-bottom: rem(44);
    }
  }
  // .other-product__button
  &__button {
    width: 100%;
  }
  // .other-product__image-ibg
  &__image-ibg {
    @media (max-width: em(1200)) and (min-width: em(700)){
      img {
        object-fit: contain;
      }
    }
    @media (max-width: em(600)){
      img {
        object-fit: contain;
      }
    }
  }
}

//====================================================================================================

.lamps-slider {
  @include adaptiveValue("padding-bottom", 120, 60);
}
