.page-home {
  // .page-home__main-block
  &__main-block {
  }
  // .page-home__catalog-cards
  &__catalog-cards {
  }
}

.main-block {
  background: url("@img/main-page/main-block-bg.png") center / cover no-repeat;
  @include adaptiveValue("padding-bottom", 85, 80);
  // .main-block__container
  &__container {
  }
  // .main-block__body
  &__body {
    display: grid;
    align-items: flex-start;
    gap: rem(20);
    @include adaptiveValue("margin-right", 0, 100, 1700, 992, 2);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
    @media (min-width: $tablet){
      grid-template-columns: 1fr percent(646, 1590);
    }
  }
  // .main-block__slider
  &__slider {
    margin: 0 rem(-30);
    padding: 0 rem(30);
  }
  // .main-block__wrapper
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: rem(43);
    }
  }
  // .main-block__slide
  &__slide {
  }
  // .main-block__media
  &__media {
  }
  // .main-block__advantages
  &__advantages {
  }
	// .main-block__control
	&__control {
	}
}

.control-main-block {
  display: flex;
  align-items: flex-end;
  gap: rem(20);
  // .control-main-block__dotts
  &__dotts {
    display: flex;
    gap: rem(17);
    padding-left: rem(2);
    .swiper-pagination-bullet {
      position: relative;
      cursor: pointer;
      width: rem(18);
      height: rem(20);
      transition: all 0.3s ease 0s;
      &::after {
        content: "";
        position: absolute;
        top: 64%;
        left: 0;
        height: rem(2);
        width: 100%;
        background-color: #fff;
      }
      &::before {
        content: "";
        background-color: $mainOrange;
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
        position: absolute;
        top: 44%;
        left: rem(-2);
        opacity: 0;
        transition: left 3s linear 0s;
      }
    }
    .swiper-pagination-bullet-active {
      width: rem(28);
      &::after {
        background-color: $mainOrange;
      }
      &::before {
        left: rem(20);
        opacity: 1;
      }
    }
  }
  // .control-main-block__fraction
  &__fraction {
  }
}
.fraction-control {
  color: #fff;
  font-weight: 600;
  font-size: rem(18);
  letter-spacing: -0.1em;
	// .fraction-control__current
	&__current {
    font-size: rem(24);
    color: $mainOrange;
    letter-spacing: 0.05em;
  }
  // .fraction-control__all
  &__all {
  }
}
.slide-main-block {
  // .slide-main-block__content
  &__content {
    color: #fff;
    @include adaptiveValue("margin-bottom", 60, 20);
    @include adaptiveValue("margin-top", 44, 20);
  }
  // .slide-main-block__title
  &__title {
    @include adaptiveValue("font-size", 36, 24, 992, 320, 1);
    font-weight: 700;
    line-height: math.div(46, 36);
    margin-bottom: em(15, 36);
  }
  // .slide-main-block__sub-title
  &__sub-title {
    @include adaptiveValue("font-size", 36, 20, 992, 320, 1);
    line-height: math.div(46, 36);
    margin-bottom: em(31, 36);
  }
  // .slide-main-block__text
  &__text {
    @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
    line-height: math.div(30, 20);
  }
  // .slide-main-block__button
  &__button {
  }
}

.media-main-block {
  @include adaptiveValue("margin-top", 35, 10);
  @include adaptiveValue("margin-left", 110, 0, 1700, 1352, 1);
  margin-right: 0;  
  display: flex;
  align-items: flex-start;
  @media (max-width: $tablet){
    justify-content: center;
  }
  position: relative;
  // .media-main-block__image
  &__image {
    @include adaptiveValue("margin-right", 100, 30, 991, 320, 3);
    position: relative;
    &::after {
      content: "";
      width: percent(683, 449);
      height: percent(654, 499);
      display: block;
      position: absolute;
      top: -7%;
      left: -6%;
      z-index: 2;
      background: url("@img/main-page/main-block-bg-image.png") center / cover no-repeat;
    }
    img {
      z-index: 3;
      position: relative;
      max-width: 100%;
    }
  }
  // .media-main-block__tips
  &__tips {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // .media-main-block__tip
  &__tip {
    position: absolute;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: rem(20);
    color: #fff;
    width: rem(30);
    height: rem(30);
    text-align: center;
    line-height: rem(30);
    border-radius: 50%;
    background: radial-gradient(circle, $mainOrange 44%, rgba(232, 170, 49, 0.5) 50%);
    transition: transform 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        transform: rotate(180deg);
      }
    }
  }
  // .media-main-block__tip-1
  &__tip-1 {
    top: percent(178, 499);
    left: percent(68, 449);
  }
  // .media-main-block__tip-2
  &__tip-2 {
    top: percent(51, 499);
    right: percent(9, 449);
  }
  // .media-main-block__tip-3
  &__tip-3 {
    bottom: percent(109, 499);
    right: percent(24, 449);
  }
}
.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(10);
  justify-content: space-between;
  @media (max-width: $tablet){
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    gap: rem(30);
  }
  @media (max-width: $mobile){
    grid-template-columns: repeat(1, auto);  
  }
  // .advantages-main__item
  &__item {
    display: grid;
    gap: rem(10);
    max-width: rem(295);
    align-items: center;
    justify-items: center;
    grid-template-rows: rem(77) auto;
    text-align: center;
  }
  // .advantages-main__icon
  &__icon {

  }
  // .advantages-main__text
  &__text {
    color: #fff;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
  }
}

.catalog-cards {
  @include adaptiveValue("margin-top", 77, -30);
  @include adaptiveValue("margin-bottom", 70, 30);
  // .catalog-cards__container
  &__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(rem(370), rem(509)));
    gap: rem(30);
    @media (max-width: em(1200)){
      grid-template-columns: repeat(2, minmax(rem(370), rem(509)));  
    }
    @media (max-width: em(800)){
      grid-template-columns: minmax(rem(370), rem(509));    
    }
    @media (max-width: $mobileSmall){
      grid-template-columns: minmax(rem(270), 1fr);  
    }
  }
  
  // .catalog-cards__item
  &__item {
  }
}
.item-catalog-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
    }
  }
  // .item-catalog-cards__body
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @media (max-width: em(380)){
      display: block;
    }
  }
  // .item-catalog-cards__title
  &__title {
    margin: rem(30);
    z-index: 1;
  }
  // .item-catalog-cards__title-link
  &__title-link {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 34);
    display: inline-block;
    &::after {
      content: "";
      margin-top: rem(17);
      display: block;
      width: rem(68);
      height: rem(2);
      background-color: $mainOrange;
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover){
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  // .item-catalog-cards__list
  &__list {
    padding: 0 0 rem(60) rem(30);
    @media (max-width: em(380)){
      padding: 0 0 0 rem(30);
    }
  }
  // .item-catalog-cards__item
  &__item {
    position: relative;
    padding: 0 0 0 rem(21);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    &::before {
      content: "";
      width: rem(6);
      height: rem(6);
      position: absolute;
      left: 0;
      top: em(14, 18);
      border-radius: 50%;
      background-color: $mainOrange;
    }
  }
  // .item-catalog-cards__link
  &__link {
    cursor: pointer;
    font-size: rem(18);
    line-height: math.div(34, 18);
    // transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        // color: $mainOrange;
        text-decoration: underline;
      }
    }
  }
  // .item-catalog-cards__image
  &__image {
    position: relative;
    img:not([src *="320"]) {
      position: absolute;
      bottom: 0;
      width: 110%;
      z-index: 0;
      @include adaptiveValue("right", 0, -20, 460, 380, 1);
      @media (max-width: em(380)){
        display: none;
      }
    }
    img[src *="320"] {
      width: 100%;
      @media (min-width: em(381)){
        display: none;
      }
    }
  }
}

